// Набор цветов SODA
// nice-colors
nicePink         = #FA4D73
niceDarkPink     = #FF14D7
niceScarlet      = #fa8072
niceDarkScarlet  = #ff6a6a
niceRed          = #FC4541
niceDarkRed      = #AC1400
niceGreen        = #5ed900
niceDarkGreen    = #56C493
niceLime         = #64FF33
niceDarkLime     = #00aa35
niceSky          = #44DDFF
niceDarkSky      = #17d1ff
niceBlue         = #0061FF
niceDarkBlue     = #004ee7
niceCyan         = #88E9E9
niceDarkCyan     = #0DB7B6
niceYellow       = #fffa00
niceDarkYellow   = #FFCC33
niceOrange       = #FE7002
niceDarkOrange   = #DF5525
niceMagenta      = #D144FF
niceDarkMagenta  = #9d00ee
niceViolet       = #6495ED
niceDarkViolet   = #410095
niceWhite        = #F9F9F9
niceBlack        = #111111
niceBrown        = #ca9700
niceDarkBrown    = #893D00
niceSteel        = #4876ff
niceDarkSteel    = #243b80

// more colors
niceCoffee	 = #6f4e37
niceYellowGreen  = #9ACD32
niceSilver       = #C0C0C0
niceGold	 = #FFD700
